
@{
    ViewBag.Title = "Ref";
}
<h2>References</h2>
<div class="row">
    <div class="col-md-4">
        <h2>DR. Md Alamgir Kabir</h2>
        <p>
            Assistant Professor,
            <br />
            Department of Computer Science, AIUB
        </p>
        <p><a class="btn btn-default" href="mailto:alamgir@aiub.edu">Email</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hossain Mahmudul</h2>
        <p>
            Managing Director,
            <br />
            Ekopii BD, Dhaka
        </p>
        <p><a class="btn btn-default" href="mailto:mahmudulhossainnasim@gmail.com">Email</a></p>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        <h2>Personal Information</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/PersonalInfo">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Education</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/Education">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/Projects">Learn more &raquo;</a></p>
    </div>
</div>
