@{
    ViewBag.Title = "Home Page";
}
<h1 style="text-align: center;">Welcome to Zero Hunger Management System</h1>
<div class="row" style="text-align: center;">
    <div class="col-md-4">
        <h2>Restaurants Login</h2>
        <p><a class="btn btn-default" href="/Restaurants/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees Login</h2>
        <p><a class="btn btn-default" href="/Employees/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>NGO Login</h2>
        <p><a class="btn btn-default" href="/NGO/Login">Login &raquo;</a></p>
    </div>
</div>