﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Portfolio</h1>
    <p class="lead">
        Name: Satyajit Das <br />
        ID: 21-44374-1 <br />
        Email: satyajit.xd@gmail.com <a href="mailto:satyajit.xd@gmail.com" class="btn btn-primary btn-lg">Email me</a><br />
        GitHub: satyajithhb <a href="https://github.com/satyajithhb" class="btn btn-primary btn-lg">Github &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Personal Information</h2>
        <p></p>
        <p><a class="btn btn-default" href="/Home/PersonalInfo">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Education</h2>
        <p></p>
        <p><a class="btn btn-default" href="/Home/Education">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <p></p>
        <p><a class="btn btn-default" href="Home/Projects">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>References</h2>
        <p></p>
        <p><a class="btn btn-default" href="Home/Ref">Learn more &raquo;</a></p>
    </div>
</div>