
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<table border='1'>
    <tr>
        <td><b>Degree</b></td>
        <td><b>Year</b></td>
        <td><b>Instituitions</b></td>
    </tr>
    <tr>
        <td>Secondary School Certificate</td>
        <td>2016-2017</td>
        <td>Habiganj Government High School, Habiganj.</td>
    </tr>
    <tr>
        <td>Higher Secondary Certificate</td>
        <td>2018-2019</td>
        <td>Sylhet MC College, Sylhet.</td>
    </tr>
    <tr>
        <td>Bachelor of Science in Computer Science & Engineering</td>
        <td>2021-2024</td>
        <td>American International University - Bangladesh, Dhaka.</td>
    </tr>
</table>
<div class="row">
    <div class="col-md-4">
        <h2>Personal Information</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/PersonalInfo">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/Projects">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>References</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/Ref">Learn more &raquo;</a></p>
    </div>
</div>