
@{
    ViewBag.Title = "PersonalInfo";
}

<h2>Personal Statement</h2>
<p>
    I have a strong desire to create good software that satisfies user needs and solves challenging issues.
    I've developed a strong foundation in programming and development principles, as well as expertise in software design,
    testing, and documentation. I enjoy collaborating with other teams to develop superior solutions, and I do well in teamwork settings.
    My success in completing complicated software projects on time and within budget can be attributed to my quick learning curve,
    keen attention to detail, and solid problem-solving abilities.
</p>
<br />
<br />
Name: Satyajit Das.
<br />
Father's Name: Sangbit Kumar Das.
<br />
Mother's Name: Shikha Rani Das.
<br />
Present Address: Basundhara Residential Area, Dhaka.
<br />
Permanent Address: Habiganj Sadar, Habiganj, Sylhet.
<br />
<h2>Language</h2>
Bangla Ability: Native Speaker.
<br />
English Ability: Good Listening and Speaking Skill.
<br />
<h2>Personal Interests</h2>
Film & Music
<br />
Bangla literature
<br />
Photography
<br />
    <div class="row">
        <div class="col-md-4">
            <h2>Education</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://localhost:44311/Home/Education">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Projects</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://localhost:44311/Home/Projects">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>References</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://localhost:44311/Home/Ref">Learn more &raquo;</a></p>
        </div>
    </div>
