
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2> <br />
<h4>Web Technologies: An E-learning website </h4>
<h4>C#: Blood Bank Management System </h4>
<h4>Software Engineering: Income-Tax Assessment Software </h4>
<h4>Java: Petrol Pump Management System </h4>
<div class="row">
    <div class="col-md-4">
        <h2>Personal Information</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/PersonalInfo">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Education</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/Education">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>References</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/Ref">Learn more &raquo;</a></p>
    </div>
</div>